# Mark files as binary to prevent git from trying to merge it

.yarn/releases/** binary linguist-vendored
.yarn/plugins/** binary linguist-vendored

.yarn/cache/** linguist-vendored
.yarn/unplugged/** binary linguist-vendored
.yarn/sdks/** binary linguist-vendored

/.pnp.* binary linguist-generated
/*.lock binary linguist-generated

.graphqlrc linguist-language=JSON
.prettierrc linguist-language=JSON
.nvmrc linguist-language=Text

# Ensure GitHub doesn't show the comments as errors
/.vscode/*.json linguist-language=JSON5
**/tsconfig.json linguist-language=JSON5
